

.login-page {

	width:300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.btn {

	border:none;
	background-image: none;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-list {
	font-size: 12px;
}

.btn-primary {
	border-radius: 0px;
	text-shadow: none;
	
}

.btn-success {
	border-radius: 0px;
	text-shadow: none;
}

.btn-default {
	border-radius: 0px;
	text-shadow: none;
	background-color: #ccc !important;
	color:#555 !important;
}
.btn-danger {
	border-radius: 0px;
	text-shadow: none;
}

.menu-color {
	color:#ffffff !important;
}

.menu-color:hover {
	color:#0088cc !important;
}


.typeahead, .tt-query, .tt-hint {
	
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
	line-height: 1px;
}


.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {

	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}


.page-header{
	margin-top: -10px;
	padding-bottom: 0px;
}

.start {
	color:red;
}

.link-blue{
	color:#108db2;

}

.burger {
	margin-top:10px;
	font-size : 18px;
	cursor:pointer;
}

.login-name {
	font-size: 14px;
}


.popover {
	color:#000;
	 min-width:200px !important;

}

.settings{
	list-style-type: none;
	text-decoration: none;
	line-height: 180%;
}

.settings li {
	padding-left: 10px;
}


.settings li:hover,a:hover{
	text-decoration: none;
	background-color:#D5EFFD;
}


.system-users tbody tr:hover{
	    cursor: pointer;
	    background-color:#daedf3 !important;
}

.modal-header{
	padding:10px;

}

